<!DOCTYPE html>
<html>
<head>
	<title><%= title %> </title>
</head>
<body>
			


			<form action="create", method="POST">
                  
                    <div class="form-group">
                          <input class="btn btn-lg btn-primary btn-block" type="submit">
                    </div>

                </form>



</body>
</html>